repos:
  # Note for all linters: do not forget to update pyproject.toml when updating version.
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    -   id: mypy
        additional_dependencies: [types-all]
  - repo: local
    hooks:
      - id: node-checks
        name: node-checks
        # we use docker compose
        entry: make
        args: [check_front]
        language: system
        types: [ts]
        require_serial: false
        pass_filenames: false

      # Check translations
      - id: check-translations
        name: "Check if translations files in 'frontend/xliff' need to be updated"
        entry: make check_translations
        types_or: [ts,javascript,pofile]
        language: system
