# Settings for mkdocs

# Where to find documentation
docs_dir: docs

# Link to Github on every page
repo_url: https://github.com/openfoodfacts/search-a-licious
edit_uri: blob/main/docs/
# add canonical url
site_url: https://openfoodfacts.github.io/search-a-licious/

site_name: Search-a-licious
site_dir: gh_pages

# Note see https://hub.docker.com/r/minidocks/mkdocs
# for available extensions
theme:
  name: material

markdown_extensions:
  - footnotes
  # support tables
  - tables
  # this one allow to have two space indentation counts as nested list, as in github/vscode
  - mdx_truly_sane_lists
  # this one allow to start a list without first adding a blank line, as in github/vscode
  - mdx_breakless_lists
  - pymdownx.highlight
  - pymdownx.superfences
  - toc:
      # add permalink after titles
      permalink: "#"
plugins:
  # thanks to this plugin, the .pages files will customize navigation entries
  - awesome-pages
  - search
  - exclude:
      glob:
        - "*_TODO.md"