<!DOCTYPE html>
<html lang="en" dir="ltr" data-lt-installed="true">
    <head>  
    <meta charset="utf-8">
    <title>Search-a-licious</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://static.openfoodfacts.org/css/dist/app-ltr.css?v=1695281325" data-base-layout="true">
<style>
    #main_column {
        padding-top: 15rem;
    }

    #logo-column {
        padding-bottom: 1rem;
    }
</style>
</head>
<body>
    <div id="main_column">
        <div class="row">
            <div class="text-center small-12 medium-8 large-4 small-centered columns" id="logo-column">
                <a href="/">
                    <img id="logo" src="https://static.openfoodfacts.org/images/logos/off-logo-horizontal-light.svg" alt="Open Food Facts logo" style="margin:8px;height:48px;width:auto;">
                </a>
            </div>
            <div class="small-12 medium-8 large-4 small-centered columns">
                <form action="/">
                    <div class="row">
                        <div class="text-center small-12 columns">
                            <input type="text" placeholder="Search for a product" name="q" value="" style="background-color:white">
                                <div><button type="submit" title="Search" class="button" style="padding: 1rem; border-radius: 50px">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
                                </button>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script src="https://static.openfoodfacts.org/js/dist/modernizr.js" data-base-layout="true"></script>
</body>
</html>